<h2><%= @department.name %></h2>
<div id="all-staff-list">
	<% @department.users.each do |user| %>
		<%= render partial: "users/single", locals: {user: user}%>
	<% end %>
	<div class="clear"></div>
</div>
