body
{
	background:#F5F6F7;
	font-size:0.9em;
	margin:0 auto;
}

.right
{
	float:right;
}

.left
{
	float:left;
}

.clear
{
	clear:both;
}


div#authentication
{
	background:#3399CC;
	-moz-border-radius: 10px;
	border-bottom-left: 10px;
	color:#fff;
	padding:10px;
	
	a
	{
		color:#333;
		font-weight:bold;
		text-decoration:none;
	}
}


.bubble
{
	background:#fff;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	-moz-border-radius: 15px;
	border-radius: 7px;
	margin:20px;
	padding:20px;
	text-align:center;
	width:150px;
}


div#wrapper
{
	
	h1#logo
	{
		a
		{
			color:#222;
			text-decoration:none;
		}
	}
	
	margin:80px auto;
	width:90%;
	
	div.single-user, .profile-page
	{
		.bubble;
		float:left;

		div.user-name
		{
			color:#333;
			font-family: 'Kristi', arial, serif;
			font-size:1.9em;

			a
			{
				color:#333;
				text-decoration:none;
			}
		}
	}
	
	.profile-page
	{
		width:300px;
	}
}


form
{
	label
	{
		font-weight:bold;
	}
	
	div.field
	{
		background:#f8f8f8;
		margin:10px 0;
	}
	
	div.actions
	{
		margin:50px 0;
	}
	
	input[type=submit]
	{
		background: #3399CC;
		background: -moz-linear-gradient(0% 100% 90deg,#5288E5, #3399CC);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5288E5), to(#3399CC));
		border: 1px solid #5288E5;
		border-width: 1px 1px 0 1px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow: inset 0 1px 0 0 #3399CC;
		-webkit-box-shadow: inset 0 1px 0 0 #3399CC;
		box-shadow: inset 0 1px 0 0 #3399CC;
		color: #fff !important;
		cursor:pointer;
		font-family: "lucida grande", sans-serif;
		font-size: 11px;
		font-weight: bold;
		line-height: 1;
		padding: 7px;
		text-align: center;
		text-decoration:none;
		text-shadow: 0 -1px 0 #4c9021;
	}
}