body
{
	background:#F5F6F7;
	font-size:0.9em;
	margin:0 auto;
}

div#authentication
{
	background:#3399CC;
	-moz-border-radius: 10px;
	border-bottom-left: 10px;
	color:#fff;
	padding:10px;
	
	a
	{
		color:#333;
		font-weight:bold;
		text-decoration:none;
	}
}

div#wrapper
{
	margin:100px auto;
	width:90%;
	
	div.single-user
	{
		background:#fff;
		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px #888;
		box-shadow: 0 0 5px #888;
		-moz-border-radius: 15px;
		border-radius: 7px;
		float:left;
		margin:20px;
		padding:20px;
		text-align:center;
		width:150px;

		div.user-name
		{
			color:#333;
			font-family: 'Kristi', arial, serif;
			font-size:1.9em;

			a
			{
				color:#333;
				text-decoration:none;
			}
		}


	}
}