<div id="all-staff-list">
	<% cache('all-staff-list') do %>
		<% @users.each do |user| %>
			<%= render partial: "users/single", locals: {user: user}%>
		<% end %>
	<% end %>
</div>
<div class="clear"></div>