<% @departments.each do |department| %>
	<h4><%= department.name %></h4>
	<div id="all-staff-list">
		<% department.users.each do |user| %>
			<%= render partial: "users/single", locals: {user: user}%>
		<% end %>
		<div class="clear"></div>
	</div>
<% end %>